/* Mobile */

/* Entire Page View */
.about-name {
  font-size:1.2em;
  font-family:  'Spartan', sans-serif;
  padding: 1em 0em 1em .2em;
}

/* Flex For <p> & <img> */
.parent-to-blurbs {
   text-align: center;
}

/* Left Paragraph */
.left-blurb {
  padding-left: 1em;
  text-align: left;
  background: aliceblue;
  border-radius: .5em;
  font-family: 'Lato';
  font-size: .89em;
  }

.profile-pic {
  width: 50%;
  height:50%;
  border-radius: .65em;
}

.arrow-to-skills{
visibility: hidden;
}

/* Desktop */
@media screen and (min-width:600px){
  .about-name {
    font-size:2em;
    font-family:  'Spartan', sans-serif;
    padding: 2em;
  }

  /* Flex For <p> & <img> */
  .parent-to-blurbs {
    display: flex;
    justify-content: center;
  }

  .profile-pic{
    width: 100%;
    height: auto;
    border-radius: .65em;
  }

/* Left Paragraph */
  .left-blurb {
    margin-left: 2em;
    padding: 2em;
    background: aliceblue;
    border-radius: .5em;
    font-family: 'Lato';
    font-size: 1.1em;
  }

  .profile-pic {
    width: 18em;
    height: 22em;
    border-radius: .65em;
  }

  .arrow-to-skills{
    visibility: visible;
    text-align:center;
    margin-top: 5em;
  }
  
  .skills-arrow{
    color:black;
    font-size:3em;
  }

  .skills-arrow:hover{
    color:aliceblue;
  }

}