/* ------------------------------------------------------------------
  mobile
/* ------------------------------------------------------------------ */


/* Header Background Image */
.header-content {
  background-color: aliceblue;
}

/* Dream. plan. do.  */
.dream-text {
  font-weight: bold;
  font-family: 'Spartan';
  font-size: 1.1em;
  margin: 3.5em 0em 0em .3em;
}

/* Name in nav */
.name {
  font-size: 1.5em;
  font-weight:bold;
}

/* Link text */
.nav-i-text {
  display: flex;
  margin-top: -1.2em;
}

/* Link icons */
nav i {
  font-size: .8em;
  padding-left: .5em;
  padding-right: .5em;
}

/* Nav container */
.nav {
  display:flex;
  flex-direction: column;
  align-items: center;
}

/* Nav container with icons + text */
.nav-text {
  display: none;
}


nav a {
  color: black;
  font-family: 'Spartan';
}

nav a:hover{
  border-radius: .25em;
}

nav i:hover{
  color:aliceblue;
}

/* Arrow  */
.down-button {
  visibility: hidden;
}


/* ------------------------------------------------------------------ */
              /* Desktop */
/* ------------------------------------------------------------------ */
@media screen and (min-width:600px){



.name {
  font-size: 3em;
  font-weight:bold;
}

.dream-text {
  display:none;
}
.nav {
  justify-content: space-between;
}

.nav-text {
  display: contents;
}

.nav-i-text p {
  margin: .3em;
}

.mobile-icon {
  display: none;
}

nav a {
  color: black;
  text-decoration:none;
  font-family: 'Spartan';
}

nav i {
  color: black;
  font-size: 1em;
}

nav i:hover{
  color:aliceblue;
}

/* Arrows  */
.down-button {
  visibility: visible;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 90%;
}

.down-btn-color {
  color: black;
  font-size: 3em;
}

.down-btn-color:hover{
  color:aliceblue;
} 

.hide-full-sc {
  display:none;
}

}