/* ------------------------------------------------------------------ */
              /* Mobile First */
/* ------------------------------------------------------------------ */

/* Individual projects */
.project {
  font-family: 'Lato';
  text-align: center;
  border-radius: .5em;
  background: rgba(255,182,193, .1 );
  padding:1em;
  margin-bottom: 2em;
}

/* Project Title */ 
.port-h2 {
text-align:center;
 font-size: 1.2em;
 margin-bottom: 1.5
}

/* Images */
.portfolio-img {
  width: 90%;
  height:100%;
  border-radius: .65em;
}

/* Links GitHub + Demo */
.demo-links {
  color:white;
  padding:1em;
  background:black;
  border-radius: .5em;
  text-decoration:none;
}

.demo-links:hover {
  color:black;
  background:aliceblue;
  padding:1em;
}

/* demo/code buttons */
.link-box {
  text-align:center;
}

/* Description Paragraph */
.description {
  padding-top:1em;
  text-align:left;
  margin-bottom: 2.5em;
  max-width: 40em;
}

/* Skills Used */
.port-skills {
  display: flex;
  justify-content: space-evenly;
}

/* Skills Boxes */
.port-skills p {
  background: aliceblue;
  padding: .5em;
  border-radius: .5em;
  margin-top: -.8em;
}

.arrow-to-contact{
  visibility: hidden;
}
  


/* ------------------------------------------------------------------ */
              /* Full Page */
/* ------------------------------------------------------------------ */
@media screen and (min-width:600px) {

/* Individual projects */
  .project {
    display:flex;
    background:none;
    justify-content: center;
  }

/* Project Title */ 
  .port-h2 {
    font-size: 1.2em;
    margin-bottom: 2em;
  }

/* Images */
  .portfolio-img {
    width: 25em;
    height:18em;
  }

  .demo-links:hover {
    color:black;
    background:aliceblue;
  }

/* Description Paragraph */
  .description {
    margin-left: 2em;
  }

}